<%# The dom_id method below lets me create ids for my note elements with a descriptive id. Outputs an id tag "note_[id]" %>
<div id="<%= dom_id note  %>">
  <p><%= note.title %></p>
  <p><%= note.content %></p>
</div>